/*Ajout police d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-woff/Raleway-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-woff/Raleway-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family:"Raleway";
    src: url("../fonts/Raleway-woff/Raleway-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3{
    font-family: "Lato", Arial, serif;
}
body{
   font-family: "Raleway", Arial, serif;
}
h3{
    color: rgb(23, 171, 179);
}
h1, h2{
    color: rgb(255, 255, 255);
}
p{
    color: rgb(51, 51, 51);
}
/*rgb(227, 227, 227)  rgb(245, 245, 245)   */

.background-grey{
    background-color: rgb(227, 227, 227);
}
.background-grey ul li{
color: rgb(51, 51, 51);
}
header, footer{
    background-color: rgb(23, 171, 179);
}
.first{
    background-color: rgb(245, 245, 245) ;
}
.Logo-color{
    color:  rgb(23, 171, 179);
}
time{
    color: rgb(23, 171, 179);
}
ul li {
  color: white;  /* texte blanc par défaut dans les <li> */
}
ul li a {
  text-decoration: none;
  color: white;     /* les liens restent en blanc */
}
ul li img {
  vertical-align: middle; 
  margin-right: 10px;  
}
ul{
    list-style: none; /* enlève les puces */
}
.puces ul{
    list-style: square;
    font-size: 1em; /*taille de la puce*/
}
.puces ul li::marker {
  color: rgb(23, 171, 179); /*couleur de la puce*/
}
.test-3{
    color: rgb(255, 255, 255);
}
.picture{
    border: 5px solid white;
    border-radius:50% ;
    width: 20%;
    height: 20%;
    object-fit: cover;
}